@import "../../scss-partials/variables";

#footer {
  background: $primary-color;
  height: 40px;
  font-size: 14px;
  color: #fff;
  padding: 30px;

  .project-by {
    margin: 0;
    font-weight: 700;
  }

  .social-icons img {
    width: 24px;
    margin: 0 4px;
  }
}

@media (max-width: 600px) {
  #footer {
    font-size: 10px;
    padding: 0;
  }
}
